{% extends "base.html" %}
{% block headextra %}
<script type="text/javascript">
$(function() {
	$("#launch").on("click", function(e) {
		e.preventDefault();
		$(this).prop("disabled",true);
		$(this).val("Launching...");
		$("#launchform").submit();
	});
});
</script>
{% endblock %}

{% block content %}
<div class="stylized">
<h3>Your demo is ready. After you launch, the demo will be available for one
hour. Launching may take several minutes, how about a cup of tea?<h3>
<form id="launchform" method="post">
    {% csrf_token %}
    <input id="launch" type="submit" value="Launch Your Demo" />
	<div class="spacer"></div>
</form>
</div>
{% endblock %}
