{% extends "base.html" %}
{% block headextra %}
<script type="text/javascript">
function handleJson(info) {
	$("#"+info.node_id+"link").css('background-color', info.status==0 ? "#CCFFCC" : "#FFCCCC")
}

function requestUpdates() {
{% for node in nodes %}
	$.getJSON('{{node.type}}/',{format:'json'},handleJson);
	$.getJSON('{{node.type}}/',{format:'json'},handleJson);
{% endfor %}
}

$(document).ready(function() {
	window.setInterval(requestUpdates, 10000);
	requestUpdates();
});
</script>
{% endblock %}
{% block content %}
<h2>Your demo is running</h2>

<a id="bplink" href="http://{{demo.pk}}.bulletproofblog.geniedb.com/">Bullet Proof Blog</a>

<div class="stylized">
<h3>Your Nodes</h3>
<table><tr>
{% for node in nodes %}
<td><form method="post" action="{{node.type}}/">
{% csrf_token %}
Node {{node.type}}
<a id="{{node.type}}link" href="http://{{node.dns}}/">Link</a><br />
<button type="submit" name="action" value="start">Start</button><br />
<button type="submit" name="action" value="stop">Stop</button>
</form></td>
{% endfor %}
</tr></table>
</div>

{% endblock %}