{% extends "base.html" %}
{% load staticfiles %}

{% block headextra %}
<script type="text/javascript">
function handleJson(info) {
	$("#"+info.node_id+"link").css('background-color', info.status==0 ? "#CCFFCC" : "#FFCCCC");
	$("#"+(info.status==0 ? "stop_" : "start_") +info.node_id).show();
	$("#"+(info.status==0 ? "start_" : "stop_") +info.node_id).hide();
}

function requestUpdates() {
{% for node in nodes %}
	$.getJSON('{{node.type}}/',{format:'json'},handleJson);
{% endfor %}
}

$(document).ready(function() {
	window.setInterval(requestUpdates, 10000);
	requestUpdates();
{% for node in nodes %}
	$("#start_{{node.type}}").hide();
{% endfor %}
});
</script>
{% endblock %}
{% block content %}
<div id="callToAction"></div>
<div class="runningServers">
<table><tr>
{% for node in nodes %}
{% ifequal node.type 2 %}
<td class="serverLabel" valign="top">
<div class="syncComplete"></div>
Los Angeles, CA
</td>
{% endifequal %}
<td><div class="serverOn"></div>
{% ifequal node.type 2 %}
<td class="serverLabel" valign="top">
<br/>
<br/>
New York, NY
</td>
{% endifequal %}
</form></td>
{% endfor %}
</tr>

<tr>
{% for node in nodes %}
{% ifequal node.type 2 %}
<div class="serverNYOn"></div>
</td>
{% endifequal %}

<td><form method="post" action="{{node.type}}/">
{% csrf_token %}
<div id="controlBackground">
	<button type="submit" id="start_{{node.type}}" class="start" name="action" value="start"></button>
	<button type="submit" id="stop_{{node.type}}" class="stop"  name="action" value="stop"></button>
</div>
<br />
<img src="{% static "images/Icon_Eye.png" %}"/>
<a id="{{node.type}}link" class="externalLink" target="_blank" href="http://{{node.dns}}/">Open External View</a>
</form></td>
{% ifequal node.type 1 %}
<td valign="top">
<div class="serverCAOn"></div>
{% endifequal %}

{% endfor %}
</tr>

</table>
</div>
<a id="bplink" target="_blank" href="http://{{demo.pk}}.bulletproofblog.geniedb.com/"><h2>Bullet Proof Blog</h2></a>

{% endblock %}